In [1]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [1]:
name1=['Tanaporn',['Pantuprecharat'],62.5]
name2=['Prayut',['Jan-O-Cha'],75]
name3=['Prawit',['Wongsuwan'],99]
name4=['Soothichai',['Yoon'],59]
name_all = [name1, name2, name3, name4]
name_all

[['Tanaporn', ['Pantuprecharat'], 62.5],
 ['Prayut', ['Jan-O-Cha'], 75],
 ['Prawit', ['Wongsuwan'], 99],
 ['Soothichai', ['Yoon'], 59]]

In [2]:
del name_all[3]
print(name_all)

[['Tanaporn', ['Pantuprecharat'], 62.5], ['Prayut', ['Jan-O-Cha'], 75], ['Prawit', ['Wongsuwan'], 99]]

In [3]:
name5=['Vikrom','Kromadis',59]
name_all.insert(0,name5)
print(name_all)

[['Vikrom', 'Kromadis', 59], ['Tanaporn', ['Pantuprecharat'], 62.5], ['Prayut', ['Jan-O-Cha'], 75], ['Prawit', ['Wongsuwan'], 99]]

In [4]:
name_all[1][2]=name_all[1][2]+10
print(name_all)

[['Vikrom', 'Kromadis', 59], ['Tanaporn', ['Pantuprecharat'], 72.5], ['Prayut', ['Jan-O-Cha'], 75], ['Prawit', ['Wongsuwan'], 99]]